.test-form-ctn {
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.question-ctn {
    display: flex;
    flex-direction: column;
    gap:12px
}
.form-question-heading {
    line-height: 24px;
    font-weight: 400;
    color: #263238;
}
.question-answers-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 18px 32px;
    background-color: $questions-ctn-color;
}
.question-answer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.question-answer label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #263238;
}
input[type='radio'] {  appearance:initial; }
input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: 1px;
    position: relative;
    background-color: $radio-color;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid $radio-border-color;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: 1px;
    position: relative;
    background-color: $radio-accent-color;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid $radio-border-accent;
}
.test-end-btn{
    width: 110px;
    border: none;
    background-color: transparent;
    border: 1px solid $finish-btn-color;
    color: $finish-btn-color;
}
.test-end-btn:hover{
    width: 110px;
    border: none;
    background-color: $finish-btn-color;
    border: 1px solid $finish-btn-color;
    color: $finish-btn-hover;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}