$accent-color: #D32F2F;
$radio-accent-color: #FF6659;
$radio-color: #FFFFFF;
$radio-border-color: #AFAFAF;
$radio-border-accent: #D32F2F;
$finish-btn-color: #D32F2F;
$strtagain-btn-color: #D32F2F;
$strtagain-btn-hover: #FFFFFF;
$finish-btn-hover: #FFFFFF;
$gray-text: #707070;
$gray-border: #707070;
$questions-ctn-color: #EFEFEF;
$question-heading-color: #263238;
$header-footer-border: #cfd8dc;
$aside-bg: #ECEFF1;
$aside-item-text: #FFFFFF;
$test-result-rate: #8D8D8D;